<h1>Match Details</h1>

<h1> <%= @match_game.name %> </h1>

<h3>Played On <%= @match.created_at %> </h3>

<br>

<h1>Players: <%  %> </h1>

<h2>Winner: <%= @match.winner %> </h2>

<h3>Score: <%= @match.score %> </h3>
